---
import '../index.css'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Saturn from '../components/Saturn'
import AboutMe from '../components/AboutMe.astro'
import ProjectPreview from '../components/ProjectPreview.astro'

const allProjects = await getCollection('projects').then((projects) =>
  projects
    .filter((project) => import.meta.env.DEV || project.data.draft !== true)
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
)
---

<Layout title="Kirill Tregubov">
  <main class="mx-auto max-w-[90rem]">
    <section
      class="mb-8 flex flex-col justify-center lg:flex-row lg:items-center lg:gap-6 xl:gap-0 2xl:-mt-6 2xl:mb-4"
    >
      <AboutMe class="animate-[fadeUp_0.3s_forwards]" />
      <!-- border-2 border-red-500 -->
      <figure
        class="relative box-content h-[calc(100vw-3rem)] max-h-[300px] w-full lg:max-h-[300px] lg:min-w-[400px] xl:max-h-[400px] xl:min-w-[600px] 2xl:min-w-[700px]"
        title="My favourite planet, Saturn"
      >
        <Saturn client:only="react" />
        <figcaption
          class="absolute bottom-2 w-full bg-neutral-900 text-center text-sm font-medium text-neutral-400/80 xl:bottom-4 2xl:bottom-6"
        >
          My favourite planet, Saturn
        </figcaption>
      </figure>
    </section>
    <section>
      <ul class="grid grid-cols-1 gap-8 gap-x-10 lg:grid-cols-2 xl:grid-cols-3">
        {
          allProjects.map((project) => (
            <li>
              {/* <li class="my-8 space-y-2 break-words">
                <h2>{project.data.name}</h2>
                <h2>{project.data.description}</h2>
                <h2>{project.data.pubDate}</h2>
                <h2>{project.data.updatedDate}</h2>
                <h2>{project.data.image.url}</h2>
                <h2>{project.data.technologies}</h2>
                <h2>{project.data.source}</h2>
                <h2 class="">{project.data.demo}</h2>
              </li> */}
              <ProjectPreview project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
