---
import { Image as AstroImage } from 'astro:assets'

interface Props {
  id?: string
  src: string
  alt?: string
  width: number
  height: number
  containerClassName?: string
  className?: string
  hasDetails?: boolean
  title?: string
  description?: string
  keywords?: string
  link?: string
  loading?: 'eager' | 'lazy'
  draggable?: 'true' | 'false'
  parentProps?: object
}

const {
  id,
  alt,
  containerClassName,
  className,
  hasDetails,
  title,
  description,
  keywords,
  link,
  parentProps,
  ...props
} = Astro.props

const imgAlt = alt || title || 'Placeholder image'
---

<figure {...parentProps}>
  <div class:list={['relative', containerClassName]}>
    <AstroImage
      {...props}
      alt={imgAlt}
      class:list={[
        'relative select-none',
        className,
        !!title && title.length > 0 && 'mb-0'
      ]}
      onerror="this.src='/assets/projects/placeholder.jpg'; void src; this.onerror=null; void onerror;"
      draggable="false"
    />
    {hasDetails && <slot />}
  </div>
  {
    !!title && title.length > 0 && (
      <figcaption
        class:list={[
          'text-center',
          !!description && 'mt-3 text-lg leading-6 font-semibold'
        ]}
        data-title
      >
        {title}
      </figcaption>
    )
  }
  {
    !!description && description.length > 0 && (
      <div class="text-center text-neutral-400">
        <p class="inline-block" data-description>
          {description}
        </p>
        {link && URL.canParse(link) && (
          <a
            href={link}
            rel="noopener"
            target="_blank"
            class="-m-0.5 p-0.5 !ring-white transition hover:text-white focus-visible:text-white active:text-white"
          >
            (<span class="underline">Link</span>)
          </a>
        )}
      </div>
    )
  }
  {
    !!keywords && keywords.length > 0 && (
      <p class="hidden" data-keywords>
        {keywords}
      </p>
    )
  }
</figure>
