---
import { Image } from 'astro:assets'
import { getEntries, type CollectionEntry } from 'astro:content'
import {
  BookOpenTextIcon,
  CodeIcon,
  ExternalLinkIcon,
  GamepadIcon,
  LinkIcon,
  LockIcon
} from 'lucide-react'
import { formatApproximateDate } from '@lib/time'

interface Props {
  project: CollectionEntry<'projects'>
  featured?: boolean
}

const { project, featured } = Astro.props

const technologies = await getEntries(project.data.technologies)
---

<div>
  <div
    class="w-full flex-shrink-0 overflow-clip rounded-xl bg-neutral-800 object-contain"
  >
    <Image
      class="unblur select-none"
      src={`/assets/projects/${project.data.image.url}`}
      alt={project.data.image?.alt || 'Placeholder project image'}
      width={1200}
      height={630}
      onerror="this.src='/assets/projects/placeholder.jpg'; this.onerror=null"
      loading={featured ? 'eager' : 'lazy'}
    />
  </div>
  <div class="my-4 mb-3 flex flex-col">
    <div class="mb-1 flex flex-wrap justify-between gap-x-2 gap-y-0">
      <h2 class="text-lg font-semibold">{project.data.name}</h2>
      <div class="flex flex-wrap gap-x-1.5 text-neutral-400">
        {
          project.data.pubDate && (
            <h3 title="Date first published">
              {formatApproximateDate(project.data.pubDate)}
            </h3>
          )
        }
        {project.data.pubDate && project.data.updatedDate && <span>-</span>}
        {
          project.data.updatedDate && (
            <h3 title="Date last updated">
              {formatApproximateDate(project.data.updatedDate)}
            </h3>
          )
        }
      </div>
    </div>
    <p class="mb-2">{project.data.description}</p>
    <div class="flex flex-wrap gap-x-2 gap-y-1.5 text-neutral-400">
      <h3 class="font-medium">Built with</h3>
      {
        technologies &&
          technologies.map((tech) => (
            <div class="color-bg-transition whitespace-nowrap rounded-sm bg-neutral-200 px-1.5 leading-relaxed text-neutral-700 shadow-sm dark:bg-neutral-800 dark:text-neutral-400">
              {tech.data.name}
            </div>
          ))
      }
    </div>
  </div>
  {
    (project.data.source || project.data.demo || project.data.article) && (
      <div class="mt-2 flex select-none flex-wrap items-center gap-2">
        {project.data.page ? (
          <a
            href={project.data.page}
            class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
          >
            <BookOpenTextIcon className="mr-1.5 size-5" aria-hidden="true" />
            {project.data.pageButton || 'View Page'}
          </a>
        ) : (
          project.data.source &&
          (project.data.source === 'closed' ? (
            <button
              disabled
              aria-disabled="true"
              class="flex cursor-not-allowed items-center py-1.5 pr-2 font-medium leading-none disabled:opacity-80"
            >
              <LockIcon className="mr-1.5 size-5" aria-hidden="true" />
              <div>Closed Source</div>
            </button>
          ) : (
            <a
              href={project.data.source}
              target="_blank"
              rel="noopener"
              class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
            >
              <CodeIcon className="mr-1.5 size-5" aria-hidden="true" />
              Source Code
            </a>
          ))
        )}
        {project.data.article && (
          <a
            href={project.data.article}
            class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
          >
            <BookOpenTextIcon className="mr-1.5 size-5" aria-hidden="true" />
            Read More
          </a>
        )}
        {project.data.demo && (
          <a
            href={project.data.demo}
            target="_blank"
            rel="noopener"
            class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
          >
            <LinkIcon className="mr-1.5 size-5" aria-hidden="true" />
            Demo
          </a>
        )}
        {project.data.play && (
          <a
            href={project.data.play}
            target="_blank"
            rel="noopener"
            class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
          >
            <GamepadIcon className="mr-1.5 size-5" aria-hidden="true" />
            Play
          </a>
        )}
        {project.data.download && (
          <a
            href={project.data.download}
            target="_blank"
            rel="noopener"
            class="flex items-center !rounded-lg border-2 border-neutral-500 px-2 py-1.5 leading-none text-neutral-700 !ring-neutral-500 transition-[color,border-color,box-shadow] hover:border-neutral-700 hover:text-neutral-900 dark:border-neutral-500 dark:text-neutral-300 dark:hover:border-neutral-100 dark:hover:text-neutral-50 dark:hover:!ring-neutral-100 dark:active:border-neutral-100 dark:active:text-neutral-50 dark:active:!ring-neutral-100"
          >
            <ExternalLinkIcon className="mr-1.5 size-5" aria-hidden="true" />
            Download
          </a>
        )}
      </div>
    )
  }
</div>
