---
import MDImage from '@components/markdown/MDImage.astro'
import OverBuddy from '@components/OverBuddy.astro'
import Layout from '@layouts/Layout.astro'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { fade } from 'astro:transitions'
import { ChevronLeftCircleIcon } from 'lucide-react'

export async function getStaticPaths() {
  const collection = await getCollection('overbuddy')
  if (!collection) return []

  return collection.map((background) => ({
    params: {
      background: background.id
    },
    props: {
      ...background.data
    }
  }))
}

const projectInfo = await getEntry('projects', 'overbuddy')
if (!projectInfo) throw new Error('OverBuddy project not found')

const { id, title, description, image, available, link } = Astro.props

const layoutDescription =
  available === true
    ? `${description}, available on Overwatch™ 2 using the OverBuddy app`
    : `${description}`
---

<Layout
  title={`${title} - OverBuddy`}
  description={layoutDescription}
  image={`generated/${id}.png`}
  footerClass="motion-safe:animate-[fadeUp_0.6s_forwards_0.6s] motion-safe:opacity-0"
>
  <main class="mx-auto flex max-w-360 flex-col space-y-8">
    <menu
      class:list={[
        "sticky -top-1 z-10 -mx-1 -mt-5 mb-4 flex gap-6 bg-neutral-900 px-1 pt-5 pb-2 after:pointer-events-none after:absolute after:-bottom-2 after:left-0 after:z-10 after:h-2 after:w-full after:bg-linear-to-b after:from-neutral-900 after:to-transparent after:content-[''] motion-safe:animate-[fadeUp_0.6s_forwards] motion-safe:opacity-0 xs:-mt-7 xs:pt-7 md:-mt-13"
      ]}
      transition:animate={fade({ duration: '0.4s' })}
    >
      <a
        href={projectInfo.data.article!}
        class="-ml-1 inline-flex w-auto grow-0 items-center gap-1 rounded-sm px-1 font-medium transition select-none hover:text-neutral-400 focus-visible:text-neutral-400 active:text-neutral-400"
      >
        <ChevronLeftCircleIcon className="mr-1.5 size-5" aria-hidden="true" />
        <span>Back to Gallery</span>
      </a>
    </menu>
    <section
      class="w-full motion-safe:animate-[fadeUp_0.6s_forwards_0.15s] motion-safe:opacity-0"
    >
      <MDImage
        id={id}
        src={image}
        width={472}
        height={265}
        containerClassName="w-full"
        className="fade-in-slow max-h-[70vh] w-full rounded-lg object-cover shadow-lg"
        draggable="false"
      />
      <div class="mt-4 flex flex-wrap items-center gap-6 gap-y-2">
        <div class="mr-auto">
          <figcaption class="text-2xl font-bold" data-title>
            {title}
          </figcaption>
          <div class="mt-1 text-lg text-neutral-400">
            <p class="inline-block" data-description>
              {description}
              {
                link && URL.canParse(link) && (
                  <a
                    href={link}
                    rel="noopener"
                    target="_blank"
                    class="-m-0.5 p-0.5 ring-white! transition hover:text-neutral-200 focus-visible:text-neutral-200 active:text-neutral-200"
                  >
                    (<span class="underline">Link</span>)
                  </a>
                )
              }
            </p>
          </div>
        </div>

        <div class="flex flex-wrap gap-3">
          <a
            class="inline-flex h-12 items-center justify-center rounded-[0.2rem] border-2 border-neutral-900/40 bg-neutral-700 px-4 text-center font-semibold tracking-wide text-neutral-50 uppercase shadow-md ring-white! transition will-change-transform select-none hover:scale-105 hover:rounded-sm hover:border-neutral-50 focus-visible:scale-105 focus-visible:border-white focus-visible:ring-1! focus-visible:outline-hidden active:scale-95 lg:h-14 lg:px-6 lg:text-lg"
            href={image}
            download
            title="Download this background"
            data-astro-prefetch="tap"
          >
            Download
          </a>
          {
            available !== 'never' && (
              <a
                class:list={[
                  'inline-flex h-12 items-center justify-center rounded-[0.2rem] border-2 border-orange-800/40 bg-orange-500 px-4 text-center font-semibold tracking-wide text-orange-50 uppercase shadow-md ring-white! transition will-change-transform select-none hover:scale-105 hover:rounded-sm hover:border-orange-50 focus-visible:scale-105 focus-visible:border-white focus-visible:ring-1! focus-visible:outline-hidden active:scale-95 lg:h-14 lg:px-6 lg:text-lg',
                  !available && 'pointer-events-none opacity-60'
                ]}
                href={projectInfo.data.download!}
                title="Install OverBuddy to apply this background"
              >
                {available ? 'Apply in Game' : 'Removed from Game'}
              </a>
            )
          }
        </div>
      </div>
    </section>
    <div
      class="h-px w-full rounded-full bg-neutral-700 motion-safe:animate-[fadeUp_0.6s_forwards_0.3s] motion-safe:opacity-0"
    >
    </div>
    <section
      class="grid w-full grid-cols-1 gap-6 motion-safe:animate-[fadeUp_0.6s_forwards_0.45s] motion-safe:opacity-0 md:gap-8 lg:grid-cols-2 lg:gap-10 xl:gap-12"
    >
      <OverBuddy
        showTitle
        repository={projectInfo.data.repository!}
        download={projectInfo.data.download!}
      />
    </section>
  </main>
</Layout>
