---
import '@styles/global.css'
import '@fontsource-variable/inter'
import SpeedInsights from '@vercel/speed-insights/astro'
import { ClientRouter } from 'astro:transitions'
import Snow from '@components/Snow'

interface Props {
  title: string
  description?: string
  type?: string
  image?: string
  bodyClass?: string
  footerClass?: string
  footerContent?: string
}

let {
  title,
  description,
  type,
  image,
  bodyClass,
  footerClass,
  footerContent = null
} = Astro.props
const { pathname } = Astro.url
if (!description) {
  description = 'Software Developer specialized in Web and App Development.'
}
if (!type) {
  type = 'website'
}
if (!image) {
  image = 'banner.jpg'
}

const today = new Date()
const isHolidaySeason =
  today.getMonth() === 11 || (today.getMonth() === 0 && today.getDate() <= 5)

const formattedImage = image.replace('/assets/', '')
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="robots" content="follow, index" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      href="/favicons/apple-touch-icon.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/favicons/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
      type="image/png"
    />
    <link
      href="/favicons/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/favicons/favicon-96x96.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <!-- <meta
      name="theme-color"
      content="#fafafa"
      media="(prefers-color-scheme: light)"
    /> -->
    <meta
      name="theme-color"
      content="#171717"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:site_name" content="Kirill Tregubov" />
    <meta property="og:url" content={`https://kirilltregubov.com${pathname}`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={type} />
    <meta property="og:locale" content="en_US" />
    <meta
      property="og:image"
      content={`https://kirilltregubov.com/assets/${formattedImage}`}
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@KirillTregubov_" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content={`https://kirilltregubov.com/assets/${formattedImage}`}
    />
    <ClientRouter />
  </head>
  <body
    class:list={[
      'dark relative min-h-dvh bg-neutral-900 p-4 !pb-0 text-white xs:p-6 md:p-12',
      bodyClass
    ]}
  >
    <slot />
    <SpeedInsights />
    <footer
      class:list={['my-6 text-center text-neutral-400 md:mt-12', footerClass]}
    >
      &copy; {new Date().getFullYear()} Kirill Tregubov.
      <span class="whitespace-nowrap"
        >This site is{' '}
        <a
          rel="noopener"
          href="https://github.com/KirillTregubov/kirilltregubov.com"
          target="_blank"
          class="-m-0.5 rounded-sm p-0.5 underline underline-offset-2 transition-shadow"
          >open source</a
        >.
      </span>
      {footerContent && <div class="md:inline-block">{footerContent}</div>}
    </footer>
    {isHolidaySeason && <Snow client:only />}
    <!-- Analytics: Simple Analytics - 100% privacy-first analytics-->
    <script
      is:inline
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
